    <header>
    <div class="header">
    <div class="header__menu-burger">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="cross">
            <div class="bar1"></div>
            <div class="bar2"></div>
        </div>
    </div>
    <div class="header__vertical-menu">
        <ul>
            <li><a href="#">EDITOS</a></li>
            <li><a href="#">VIDEOS</a></li>
            <li><a href="#">INTERVIEW</a></li>
            <li><a href="#">TEMOIGNAGE</a></li>
            <li><a href="#">JOURNAL DE BORD</a></li>
        </ul>
    </div>
    <img src="{{ asset('images/logo_yearbook.svg') }}"
</div>
</header>

