<header class="header">
    <img src="{{ asset('images/logo_yearbook.svg') }}" class="logo-yearbook-header">

    
    <div class="header__burger-menu">
        <div class="header__burger-menu-bar"></div>
        <div class="header__burger-menu-bar"></div>
        <div class="header__burger-menu-bar"></div>
        
        <div class="header__burger-menu-cross">
            <div class="header__burger-menu-cross-bar1"></div>
            <div class="header__burger-menu-cross-bar2"></div>
        </div>
    </div>

    <div class="header__pop-up-menu">
        <ul>
            <li><a href="{{ path('app_article_page') }}">EDITOS</a></li>
            <li><a href="#">VIDEOS</a></li>
            <li><a href="#">INTERVIEW</a></li>
            <li><a href="#">TEMOIGNAGE</a></li>
            <li><a href="#">JOURNAL DE BORD</a></li>
        </ul>
    </div>
</header>
