    <header>
    <div class="header__container">
    <div class="menu-burger">
        <div class="barre"></div>
        <div class="barre"></div>
        <div class="barre"></div>
        <div class="croix">
            <div class="barre1"></div>
            <div class="barre2"></div>
        </div>
    </div>
    <div class="menu-vertical">
        <ul>
            <li><a href="#">Interview</a></li>
            <li><a href="#">Edito</a></li>
            <li><a href="#">Journal de Bord</a></li>
            <li><a href="#">Témoignage</a></li>
            <li><a href="#">Vidéos</a></li>
        </ul>
    </div>
    <img src="{{ asset('images/logo_yearbook.svg') }}"
</div>
</header>

