<div class="quote-component">
  <div class="quote-component__body">
    <img src="{{ asset('video/logo-citation.png') }}" alt="" class="quote-component__quotation-icon" />
    <p class="quote-component__text">{{ block.text }}</p>
    {# <p class="quote-component__author">{{ block.author }}</p> #}
  </div>

  <div class="quote-component__image">
    <img src="{{ asset('video/image.png') }}" alt="" />
  </div>
</div>