<div class="quote-component">
  <div class="quote-component__body">
    <img src="{{ asset('video/logo-citation.png') }}" alt="" class="quote-component__quotation-icon" />
    <p class="quote-component__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum dicta
      soluta neque nesciunt possimus asperiores, rem ex vitae vel iure
      labore harum reiciendis consequuntur praesentium aut quam eius sint
      error?
    </p>
    <p class="quote-component__author">Andriantafika Randrianarimanana</p>
  </div>

  <div class="quote-component__image">
    <img src="{{ asset('video/image.png') }}" alt="" />
  </div>
</div>