.grid-article-large-card-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.article-large-card-container--row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.article-large-card__title-container{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding-left: 68px;
  padding-right: 68px;

}
.article-large-card {
  width: 632px;
  height: 100% auto;
  background-color: rgba(var(--green), var(--opacity-3)); 
  border-radius: 10px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.article-large-card__img {
  display: flex;
  border-radius: 20px;
}
.article-large-card__timer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.article-large-card__timer-img {
  padding-right: 5px;
}
.article-large-card__category {
  width: auto;
  height: auto;
  background-color: #008c45;
  border-radius: 20px;
  margin-top: 20px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
span.article-large-card__category {
  font-family: "soleil", sans-serif;
  font-size: 12px;
  color: white;
}
span.article-large-card__minutes{
  font-family: "soleil", sans-serif;
  font-size: 12px;
  color: rgb(0, 0, 0);
}
.article-large-card__timer {
  width: auto;
  height: auto;
  border-radius: 20px;
  margin-top: 20px;
  
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: solid 1px black;
}


.article-large-card__text-container {
  display: flex;
  flex-direction: column;
}
H3.article-large-card__title {
  font-family: "BwGradualDEMO", sans-serif;
  font-size: 24px;
  font-weight:normal;
  color: #000000;
}
  
H5.article-large-card__text {
  opacity: 60%;
}
@media screen and (max-width: 1380px) {
  .article-large-card-container--row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  }

  @media screen and (max-width: 840px) {
    .article-large-card__timer-img {
      width: 100% auto;
      height: 100% auto;
    }
  }

