.quote-component {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
}

.quote-component__image img {
  width: 500px;
  height: 500px;
  object-fit: cover;
  border-radius: 20px;
}
.quote-component__body {
  position: relative;
  width: 40%;
  margin-right: 20px;
}
.quote-component__quotation-icon {
  position: absolute;
  height: 50px;
  top: -15px;
  left: -55px;
}
.quote-component__author {
  color: #d305a6;
  opacity: 0.6;
  text-align: left;
}
@media screen and (max-width: 1160px) {
  .quote-component {
    display: flex;
    flex-direction: column;
  }
}
