.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}
.footer__article-categories-links{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer__article-category-link {
  margin-left: 20px;
  margin-right: 20px;
}
.footer__social-media-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer__social-media-link-icon {
  margin: 20px;
}
.footer__yearbook-logo{
  width:136;
  height: 40px;
}
@media screen and (max-width: 1344px) {
  .side__by__side__image {
    width: 568px;
    height: 351px;
  }
}
@media screen and (max-width: 1200px) {
  .side__by__side__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  .side__by__side__image {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 840px) {
  .footer__article-categories-links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h4 {
    font-size: 14px;
  }
  h5 {
    font-size: 12px;
  }
}
@media screen and (max-width: 600px) {
  .side__by__side__image {
    width: 432.5px;
    height: 266.25px;
  }
}
@media screen and (max-width: 480px) {
  .side__by__side__image {
    width: 346px;
    height: 213px;
  }
}