.header {
  height: 40px;
  width: 100%;
  /*position: fixed;*/
  /*si enlève fixed marche pas trop mal*/
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  background-color: white;
  align-items: center;
  
}
.header__burger-menu {
  width: 30px;
  height: 20px;
  cursor: pointer;
  z-index: 2;

}

.header__burger-menu-bar {
  width: 100%;
  height: 4px;
  background-color: #333;
  margin: 4px;
  transition: 0.4s;
}

.header__burger-menu.open .header__burger-menu-bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.header__burger-menu.open .header__burger-menu-bar:nth-child(2) {
  opacity: 0;
}

.header__burger-menu.open .header__burger-menu-bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

.header__pop-up-menu {
  position: fixed;
  top: -100%; /* Le menu est initialement en dehors de la vue */
  left: 0;
  width: 100%;
  padding: 20px 0;
  transition: top 0.5s; /* Animation pour déplacer le menu */
}

.header__burger-menu.open ~ .header__pop-up-menu {
  top: 0; /* Fait glisser le menu depuis le haut de la page */
}

ul {
  list-style: none;
  padding: 0;
  display: flex; /* Affiche les éléments du menu horizontalement */
  justify-content: center;
}

li {
  padding: 10px;
}

a {
  text-decoration: none;
  color: #000000;
  font-family: "Soleil", sans-serif;
  font-size: 20px;
}

.header__burger-menu-cross {
  display: none; /* Initialement masquée */
}

.header__burger-menu.open ~ .header__pop-up-menu .cross {
  display: block; /* Affiche la cross lorsque le menu est ouvert */
}

.header__burger-menu-cross-bar1,
.header__burger-menu-cross-bar2 {
  width: 100%;
  height: 4px;
  background-color: #fff;
  margin: 4px 0;
}