
    
.side-by-side-container{
    display: flex;
    width:100%;
    height:100%;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.side-by-side__image{
    width: 632px;
    height:390px;
    margin: 0 20px 0 20px;
    background-color:grey;
    border-color: black;
    border:solid 1px;
}

@media screen and (max-width:1344px){

    .side-by-side__image{
        width:568px;
        height:351px;

    }       
}
@media screen and (max-width:1200px){

    .side-by-side-container{
        display: flex; 
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }
    .side-by-side-image{
        margin-bottom: 40px;

    }
}
@media screen and (max-width:600px){

    .side-by-side-image{
        width: 432.5px;
        height:266.25px;
    }
}
@media screen and (max-width:480px){

    .side-by-side-image{
        width: 346px;
        height:213px;
    }
        
}