<div class = "article__large__card__container">
 <div class = "article__large__card">
    <img src="{{ asset('images/article_card_img.svg') }}"
    class="article__card__img"
    alt="article-card-img"/>
    <div class = "article__large__card__category__timer--container">
    <div class = "article__large__card__category">
    <h7>INTERVIEW</h7>
    </div>
    <div class = "article__large__card--timer">
        <img src="{{ asset('images/timer.svg') }}"
    class="article__large__card__timer--img"
    alt="article__card-img"/>
    <h7> 5MIN</h7>
    </div>
    </div>
    <div class = "article__large__card__text--container">
    <div class = "article__large__card__text">
     <h3>Les frères Da Silva à la conquête du monde professionnel</h3>
     <h4>Par Kélia SIAOesfjzefiecizonfoznz c'est qui c'esdt zaefkefzpokf</h4>
     <h5>1 décembre 2022</h5>
    </div>
    </div>
 </div>
 <div class = "article__large__card">
 </div>
</div>


