{# {% extends 'base.html.twig' %}: #}

{# {% block body %} #}
    <div class="article-cover">
        <div class="article-cover__bottom-right-card">
            <div class="bottom-right-card__infos-of-article-top-card">
                <div class="top-card__first-two-buttons">
                    <div class="tag__icon">
                        <span class="tag">INTERVIEW</span>
                    </div>
                    <div class="reading-estimation__time-button">
                    <img src="{{ asset('images/chrono.svg')}}" alt="chrono">
                        <div class="reading-estimation__time">
                            <div class="reading-estimation">6 MIN</div>
                        </div>
                    </div>
                </div>
                <div class="more">DÉCOUVRIR →</div>
            </div> 
            <div class="article__title">Hackathon l'Europe et la jeunesse
                avec Meta, Digital Village, Publicis & Razorfish</div>
            <div class="article__authors">Denys Chomel, Namiko Gahier Ogawa</div>
        </div>
    </div>

{# {% endblock %} #}