<div class = "identification-admin-container">
    <div class ="identification-admin__case-container">
        <h3 class="identification-admin__title">IDENTIFICATION</h3>
        <h4 class="identification-admin__username">NOM D' UTILISATEUR</h4>
        <input type="text" class="identification-admin__username-input">
        <h4 class="identification-admin__password">MOT DE PASSE</h4>
        <input type="text" class="identification-admin__password-input">
            <div class ="identification-admin__connexion-container">
                <div class ="identification-admin__connexion-button">
                <span class="identification-admin__connexion-text">CONNEXION</span>
                </div>
            </div>
    </div>
</div>