{% extends 'base.html.twig' %}

{% block body %}
    {#<div class="side-by-side-container">
      <div class="side-by-side__image"></div>
      <div class="side-by-side__image"></div>
    </div>#}
{% endblock %}
