{% extends 'base.html.twig' %}

{% block body %}
    <div class="side__by__side__container">
      <div class="side__by__side__image"></div>
      <div class="side__by__side__image"></div>
    </div>
{% endblock %}