<div class="bloc">
  <div class="bloc-citation">
    <img src="{{ asset('video/logo-citation.png') }}" alt="" class="image-citation" />
    <p class="paragraphe-citation">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum dicta
      soluta neque nesciunt possimus asperiores, rem ex vitae vel iure
      labore harum reiciendis consequuntur praesentium aut quam eius sint
      error?
    </p>
    <p class="nom-auteur">Andriantafika Randrianarimanana</p>
  </div>

  <div class="bloc-image">
    <img src="{{ asset('video/image.png') }}" alt="" />
  </div>
</div>